@import url('../lib/nprogress/nprogress.css');
@import url('../lib/element-plus/index.css');
@import url('../lib/element-plus/theme-chalk/dark/css-vars.css');
/* @import url('../lib/tailwindcss/tailwind.min.css'); */
@import url('./style/site.css');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
::after,
::before {
  border-width: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.container {
  width: 100%;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mr-3 {
  margin-right: .75rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}
