html * {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

/*移除下划线*/
a {
  color: inherit;
  text-decoration: none;
}

/*移除黑色边框*/
svg:focus,
button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: var(--el-scrollbar-bg-color, var(--el-text-color-secondary));
  transition: var(--el-transition-duration) background-color;
  opacity: var(--el-scrollbar-opacity, 0.3);
}

.flex1 {
  width: 100%;
  display: flex;
  flex: 1;
  overflow: visible;
}

.flex100 {
  width: 100%;
  display: flex;
  flex: 1 100%;
  overflow: auto;
}

.flex-dir-col {
  flex-direction: column;
}

flex-dir-row {
  flex-direction: row;
}

.overflow-visible {
  overflow: visible !important;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--el-scrollbar-bg-color, var(--el-text-color-secondary));
  }
}

img.loading {
  width: 2rem;
  height: 2rem;
}

#app>.el-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* #app>.el-container>.el-container {
  margin-top: var(--header);
} */

.el-scrollbar,
.el-scrollbar__view {
  width: 100%;
  height: 100%;
}

.el-aside {
  height: 100%;
  background-color: var(--el-menu-bg-color);

  .el-menu--vertical {
    min-height: 100%;
    overflow: auto;
    border-right: none;
  }
}

.el-main {
  padding: 0;
}

.el-main>.router-view {
  flex-direction: column;
  padding: 20px;
}

.el-header {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid var(--el-border-color);
  background-color: var(--el-menu-bg-color);
  z-index: 10;
  overflow: hidden;

  .el-menu {
    border: none;

    .is-active {
      border: none;
    }
  }
}

.portal-layout .collapse-button {
  display: none;
}

.el-footer {
  width: 100%;
  border-top: 1px solid var(--el-border-color);
  background-color: var(--el-menu-bg-color);
  overflow: hidden;
}

.el-aside.open {
  min-width: 200px;
}

.logo img {
  min-width: 28px;
  height: 28px;
  margin-right: 1em;
}

.logo h1 {
  height: 32px;
  line-height: 32px;
  padding-right: 1em;
}

.el-dropdown-link:focus-visible {
  outline: unset;
}

.el-form-item__content {
  min-width: 210px !important;
  min-height: 24px;
}

.el-table .cell {
  white-space: nowrap;
}

.el-dialog__header,
.el-dialog__footer,
.el-drawer__header,
.el-drawer__footer {
  height: var(--el-header-height);
  padding: 11px;
  line-height: 37px;
  margin: 0;
}

.el-dialog__header,
.el-drawer__header {
  border-bottom: 1px solid var(--el-border-color);
}

.el-dialog__footer,
.el-drawer__footer {
  border-top: 1px solid var(--el-border-color);
}

.el-form {
  .el-form-item__label {
    padding-right: 0 !important;
    width: 5em !important;
    margin-right: 1em;
    overflow: hidden;
    justify-content: flex-start;
    white-space: nowrap;
  }

  /* .el-form-item__content {
    width: 240 !important;
  }

  .el-input {
    width: 100%;
  } */

  .el-input__suffix-inner {
    width: 2em;
  }
}

/* .el-select,
.el-input-number,
.el-date-editor.el-input,
.el-date-editor.el-input__wrapper {
  width: 100%;
  width: 240px;
} */

/* markdown component */
.markdown-body {
  box-sizing: border-box;
  margin: 0 auto;
}

/*Tabs多页签*/
.router-tabs {

  /* box-sizing: border-box;
  height: 40px !important;
  background-color: var(--el-fill-color-blank);
  border-width: 0 !important;

  .el-tabs__item {
    margin-top: 0 !important;
    padding: 0 !important;
    border-bottom-width: 0;
  }

  .el-dropdown span {
    padding: 0 20px;
  }

  .el-tabs__content {
    display: none;
  }

  .el-icon {
    margin-right: 5px;
    margin-left: -15px;
  } */
  .el-tabs__item {
    padding: 15px !important;
  }

  .is-active {
    .el-dropdown {
      color: var(--el-color-primary) !important;
    }
  }

  .el-tabs__content {
    display: none;
  }

  .el-tabs__header {
    margin-bottom: 0;
  }

}

/*站内导航*/
.breadcrumb {
  padding: 0 20px 20px 0;
}

/*暗色菜单*/

html.dark-nav .admin-layout {

  .el-aside,
  .el-aside *,
  .el-header,
  .el-header .el-menu,
  .el-header .el-menu-item {
    background-color: #343a40 !important;
    color: #e5eaf3;
  }

  .el-aside *:hover,
  .el-header *:hover {
    background-color: #343a40 !important;
  }

  .el-aside .el-menu-item.is-active * {
    color: #409eff !important;
  }

  .el-aside .el-scrollbar__thumb {
    background-color: #e5eaf3 !important;
    opacity: 0.5 !important;
  }

  .el-aside el-scrollbar__thumb:hover {
    background-color: #e5eaf3 !important;
  }

  .el-header {
    border-bottom-color: #343a40 !important;
  }

  .el-header .el-icon {
    color: #e5eaf3 !important;
  }
}